* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v14_60 {
  width: 414px;
  height: 1391px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_61 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 26px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_64 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 354px;
  overflow: hidden;
}
.v14_65 {
  width: 21px;
  height: 15px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 5px;
}
.v15_106 {
  width: 268px;
  color: url("../images/v15_106.png");
  position: absolute;
  top: 110px;
  left: 26px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v15_89 {
  width: 223px;
  color: rgba(252,166,32,1);
  position: absolute;
  top: 365px;
  left: 34px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v18_192 {
  width: 151px;
  color: rgba(252,166,32,1);
  position: absolute;
  top: 963px;
  left: 118px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_122 {
  width: 47px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 329px;
  left: 34px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_90 {
  width: 329px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 213px;
  left: 23px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v15_97 {
  width: 414px;
  height: 209px;
  background: rgba(255,223,130,1);
  opacity: 1;
  position: absolute;
  top: 1171px;
  left: 0px;
  overflow: hidden;
}
.v18_200 {
  width: 74px;
  height: 126px;
  background: url("../images/v18_200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 1px;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 264px;
  overflow: hidden;
}
.v15_98 {
  width: 41px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v18_197 {
  width: 33px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v18_202 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v18_212 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 79px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v18_198 {
  width: 102px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 103px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v18_203 {
  width: 211px;
  height: 123px;
  background: url("../images/v18_203.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 1px;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 16px;
  overflow: hidden;
}
.v18_204 {
  width: 89px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v18_205 {
  width: 211px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_99 {
  width: 188px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 177px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v15_123 {
  width: 341px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 401px;
  left: 34px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: justified;
}
.v15_133 {
  width: 123px;
  height: 30px;
  background: linear-gradient(rgba(254,242,128,1), rgba(253,181,16,1));
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 25px rgba(0.9175000786781311, 0.818043053150177, 0.2958938479423523, 0.25);
  overflow: hidden;
}
.v15_131 {
  width: 83px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v15_138 {
  width: 141px;
  height: 144px;
  background: linear-gradient(rgba(151,0,205,1), rgba(253,253,253,0));
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 66px;
  border-radius: 50%;
}
.v18_193 {
  width: 141px;
  height: 144px;
  background: linear-gradient(rgba(151,0,205,1), rgba(253,253,253,0));
  opacity: 1;
  position: absolute;
  top: 559px;
  left: 321px;
  border-radius: 50%;
}
.v15_137 {
  width: 72px;
  height: 76px;
  background: linear-gradient(rgba(137,231,247,1), rgba(253,253,253,0));
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 213px;
  border-radius: 50%;
}
.v18_149 {
  width: 175px;
  height: 144px;
  background: linear-gradient(rgba(0,174,205,1), rgba(253,253,253,0));
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 249px;
  border-radius: 50%;
}
.v18_150 {
  width: 134px;
  height: 167px;
  background: url("../images/v18_150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 246px;
  overflow: hidden;
}
.v15_136 {
  width: 121px;
  height: 81px;
  background: rgba(0,114,222,1);
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
}
.v15_135 {
  width: 122px;
  height: 112px;
  background: rgba(249,198,29,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 11px;
}
.v18_151 {
  width: 116px;
  height: 167px;
  background: url("../images/v18_151.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
}
.v18_172 {
  width: 728px;
  height: 278px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 659px;
  left: 153px;
  overflow: hidden;
}
.v18_173 {
  width: 240px;
  height: 177px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 0px;
  overflow: hidden;
}
.v18_174 {
  width: 240px;
  height: 177px;
  background: rgba(89,91,218,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v18_175 {
  width: 280px;
  height: 149px;
  background: url("../images/v18_175.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 21px;
  overflow: hidden;
}
.v18_176 {
  width: 240px;
  height: 38px;
  background: rgba(0,0,0,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 0px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v18_177 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 89px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v18_178 {
  width: 240px;
  height: 177px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 487px;
  overflow: hidden;
}
.v18_179 {
  width: 240px;
  height: 177px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v18_180 {
  width: 241px;
  height: 179px;
  background: url("../images/v18_180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v18_181 {
  width: 240px;
  height: 38px;
  background: rgba(0,0,0,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 0px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v18_182 {
  width: 100px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 74px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v18_183 {
  width: 278px;
  height: 209px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 224px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v18_184 {
  width: 278px;
  height: 209px;
  background: rgba(181,248,252,0.41999998688697815);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v18_185 {
  width: 221px;
  height: 157px;
  background: url("../images/v18_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 28px;
  overflow: hidden;
}
.v18_186 {
  width: 63px;
  height: 136px;
  background: url("../images/v18_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  box-shadow: 0px 5.906616687774658px 11px rgba(0.03743055462837219, 0.04069992154836655, 0.20416666567325592, 0.25);
  overflow: hidden;
}
.v18_187 {
  width: 72px;
  height: 157px;
  background: url("../images/v18_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  box-shadow: 0px 6.795097351074219px 13px rgba(0.03743055462837219, 0.04069992154836655, 0.20416666567325592, 0.25);
  overflow: hidden;
}
.v18_188 {
  width: 63px;
  height: 136px;
  background: url("../images/v18_188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 158px;
  box-shadow: 0px 5.906616687774658px 11px rgba(0.03743055462837219, 0.04069992154836655, 0.20416666567325592, 0.25);
  overflow: hidden;
}
.v18_189 {
  width: 278px;
  height: 38px;
  background: rgba(0,0,0,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 0px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v18_190 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 98px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v18_191 {
  width: 136px;
  color: rgba(252,166,32,1);
  position: absolute;
  top: 0px;
  left: 288px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v18_194 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 259px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v18_250 {
  width: 22px;
  height: 22px;
  background: url("../images/v18_250.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 327px;
  transform: rotate(-26deg);
  overflow: hidden;
}
.v18_195 {
  width: 246px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1002px;
  left: 88px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v15_134 {
  width: 175px;
  height: 144px;
  background: linear-gradient(rgba(0,174,205,1), rgba(253,253,253,0));
  opacity: 1;
  position: absolute;
  top: 1093px;
  left: 53px;
  border-radius: 50%;
}
.v18_242 {
  width: 107px;
  height: 106px;
  background: linear-gradient(rgba(240,152,16,1), rgba(253,253,253,0));
  opacity: 1;
  position: absolute;
  top: 968px;
  left: 338px;
  border-radius: 50%;
}
.v18_213 {
  width: 222px;
  height: 38px;
  background: url("../images/v18_213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 1045px;
  left: 96px;
  overflow: hidden;
}
.v18_214 {
  width: 38px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_215 {
  width: 31px;
  height: 31px;
  background: rgba(193,53,132,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
}
.v18_216 {
  width: 19px;
  height: 19px;
  background: url("../images/v18_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 9px;
  overflow: hidden;
}
.v18_217 {
  width: 19px;
  height: 19px;
  background: url("../images/v18_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_218 {
  width: 19px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_219 {
  width: 9px;
  height: 9px;
  background: url("../images/v18_219.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v18_220 {
  width: 9px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_221 {
  width: 2px;
  height: 2px;
  background: url("../images/v18_221.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 13px;
  overflow: hidden;
}
.v18_222 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_223 {
  width: 38px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 45px;
  overflow: hidden;
}
.v18_224 {
  width: 31px;
  height: 31px;
  background: rgba(29,161,242,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
}
.v18_225 {
  width: 19px;
  height: 15px;
  background: url("../images/v18_225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 9px;
  overflow: hidden;
}
.v18_226 {
  width: 19px;
  height: 15px;
  background: url("../images/v18_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_227 {
  width: 19px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_228 {
  width: 38px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 91px;
  overflow: hidden;
}
.v18_229 {
  width: 31px;
  height: 31px;
  background: rgba(0,119,181,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
}
.v18_230 {
  width: 17px;
  height: 16px;
  background: url("../images/v18_230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
  overflow: hidden;
}
.v18_231 {
  width: 3px;
  height: 16px;
  background: url("../images/v18_231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_232 {
  width: 3px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_233 {
  width: 11px;
  height: 11px;
  background: url("../images/v18_233.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
  overflow: hidden;
}
.v18_234 {
  width: 11px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_235 {
  width: 38px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 137px;
  overflow: hidden;
}
.v18_236 {
  width: 31px;
  height: 31px;
  background: rgba(59,89,152,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v18_237 {
  width: 8px;
  height: 17px;
  background: url("../images/v18_237.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 15px;
  overflow: hidden;
}
.v18_238 {
  width: 8px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_239 {
  width: 38px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 183px;
  overflow: hidden;
}
.v18_240 {
  width: 31px;
  height: 31px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.v18_241 {
  width: 20px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 8px;
}
.v18_253 {
  width: 27px;
  height: 27px;
  background: url("../images/v18_253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 91px;
  left: 352px;
  transform: rotate(-16deg);
  overflow: hidden;
}
.v18_252 {
  width: 22px;
  height: 22px;
  background: url("../images/v18_252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 354px;
  overflow: hidden;
}
.v18_254 {
  width: 19px;
  height: 21px;
  background: url("../images/v18_254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 231px;
  transform: rotate(-24deg);
  overflow: hidden;
}
